.field-type-initialsYearOne,
.field-type-initialsYearTwo {
  width: 80px;
  text-align: center;
}

.field-type-initialsYearOne input,
.field-type-initialsYearTwo input {
  text-align: center;
  font-size: 0.9rem;
}